.modal-content {
    border-radius: 0;
}

.modal-progress-bar {
  .modal-header {
    padding: 10px 10px 10px 0;
  }

  .progress-bar-success {
    background-color: #67A700;
  }

  .progress-bar-header {
    background-color: #808080;
    color: #B2B2B2;
  }

  .close-icon {
    padding: 5px;
  }

  .progress {
    border-radius: 0px;
  }

  .row {
    margin: 0px;
  }

  .status-text {
    min-width: 240px;
  }
}

.modal-progress-bar {
  border: 1px solid white;
}

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-title {
  padding-left: 0;
}

.main__header {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px 10px 10px;
  border: 1px solid #e1e3e2;

  color: white;
  background:#42413e;
  background:-webkit-gradient(linear,left top,left bottom,from(#5f5d5b),to(#42413e));
  background:-moz-linear-gradient(top,#5f5d5b,#42413e);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f5d5b',endColorstr='#42413e');
  zoom:1;
}

.main__btn {
  width: 100%;
  margin: 10px auto;

}

.btn-default {
  color: white;
  background-color: #EA322B;
}

@media screen and (max-width: 468px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
